* {
  margin: 0;
  padding: 0;
}

:root {
  --brown-main: rgb(105, 58, 4);
  --pink-bg: rgba(240, 204, 204, 0.658);
  --gray-bg: rgba(187, 185, 185, 0.527);
}

main {
  box-sizing: border-box;
  color: var(--brown-main);
  background: linear-gradient(var(--gray-bg), var(--pink-bg));
}

header {
  font-size: 20px;
  background: linear-gradient(
    /* rgba(243, 208, 227, 0.808) nebo */ var(--pink-bg),
    var(--gray-bg)
  );
}

.logo {
  display: block;
  width: 150px;
  padding-top: 0.5%;
  margin: 0px auto;
}

.navigation {
  margin: 0.9% 0;
  display: flex;
  flex: 1;
  justify-content: center;
}

.navigation > li {
  list-style-type: none;
  padding: 10px;
  border-top: 1px solid var(--brown-main);
}

.navigation li > a {
  text-decoration: none;
  padding: 10px 5px;
  color: var(--brown-main);
  font-weight: 600;
}

.navigation a:active,
.navigation a:hover,
.navigation a:focus {
  background-color: var(--brown-main);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: snow;
  transition: all 0.8s;
}

.navigation a:link,
.navigation a:visited {
  text-decoration: none;
}

/*** MAIN ***/
.container {
  padding: 5px 14%;
  letter-spacing: 1px;
}

h1 {
  margin-top: 3%;
  margin-bottom: 1%;
  text-align: center;
}

h1::after {
  display: block;
  content: '';
  width: 150px;

  border: 1px solid goldenrod;
  border-radius: 10px;
  margin: 15px auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.bold {
  font-weight: 700;
}
/* SECTION - aboutMe - Můj příběh */
#aboutMe {
  margin-top: -12px;
  height: 80vh;
  font-family: system-ui, sans-serif;
}

.aboutMe-flex-contr {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.aboutMe--text {
  text-indent: 5%;
  max-width: 65%;
  margin-right: 2%;
  line-height: 1.5;
}

.aboutMe__hero img {
  border-radius: 50px 10px 0 10px;
}

/* SECTION - news - Aktuality  */
#news {
  text-align: center;
}

/* SECTION - products - Produkty */
#products {
  text-align: center;
}

.products-flex-contr {
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.products-flex-contr img {
  margin: 10px;
  border-radius: 20px;
  border: 2px solid var(--brown-main);
  transform: scale(0.95);
  transition: all 0.8s;
}

.products-flex-contr img:hover,
.products-flex-contr img:active,
.products-flex-contr img:focus {
  cursor: pointer;
  transform: scale(1);
  transition: all 0.8s;
}

#products figure img {
  width: 350px;
  height: 400px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 2px solid var(--brown-main);
}

#products figure figcaption {
  font-weight: 600;
  font-size: 24px;
}

/* SECTION - recenze - Recenze */

/* SECTION - contact - Kontakt */

/*** FOOTER ***/
.footer {
  text-align: center;
  padding: 1% 0;
  background-color: var(--brown-main);
  color: snow;
}

.footer a {
  text-decoration: none;
  color: snow;
}
